################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build
/.idea
/cmake-build-debug
/CMakeFiles
/encrypt-build
/enc_temp_folder
/pyapi
/CMakeSettings.json
/oldcmakelist.txt
