*
!ui
!ui/*
!ui/widgets/*
!include
!include/*
!src
!src/*
!res
!res/*
!CMakeLists.txt
!CMakePresets.json
!guard.h
!LICENSE
!main.cpp
!packer.h
!TODO.txt
!*.h
!*.cpp
!*.ui
!.gitignore
!cmake
!cmake/
!*.cmake